.simpleToast {
    --toast-opacity-transition-time: 1000ms;
    
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);

    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity var(--toast-opacity-transition-time);
    z-index: 1000;
    text-align: center;

    color: ghostwhite;
    background-color: rgba(0, 0, 0, 0.60);
  }
  .simpleToast-content {
    font-size: 16px;
    word-wrap: break-word;

    user-select: none;
    -webkit-user-select: none;
  }